<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col-sm">
			<h1>Let's eat</h1>

			<p><a href="new">New restaurant</a></p>

			<table border=1>
				<tr>
					<th>Name</th>
					<th>Cuisine</th>
					<th>Actions</th>
				</tr>
				<tr *ngFor="let restaurant of restaurants">
					<td>{{ restaurant.name }}</td>
					<td>{{ restaurant.cuisine }}</td>
					<td><button [routerLink]="['/restaurant', restaurant._id]">Read reviews</button> &nbsp; <button [routerLink]="['/edit', restaurant._id]">Update</button>&nbsp;<a href="#!" (click)="delete(restaurant._id)">Delete</a></td>

				</tr>
			</table>
		</div>
	</div>
</div>
